<!-- start custom footer snippets -->

<!-- google adsense -->
<!-- 여기 붙이는 광고는 사이트 첫 접속시 화면 최하단에 위치하는 광고이다. -->
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8239319668711744"
     data-ad-slot="6302909428"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<!-- end custom footer snippets -->
