<!-- start custom footer snippets -->

<!-- google adsense -->
<!-- 여기 붙이는 광고는 사이트 첫 접속시 화면 최하단에 위치하는 광고임 -->
<script data-ad-client="ca-pub-9797321251237710" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-9797321251237710",
enable_page_level_ads: true
});
</script>

<!-- end custom footer snippets -->
